
<form role="form" class="alq dj j padded-top" ng-submit="vm.login()">
    <a href="#/home" class="l amb">
        <img src="styles/img/logo.png" alt="brand">
    </a>

    <div class="et">
        <h5>LOGIN</h5>
    </div>

    <div class="et">
        <input class="form-control" placeholder="E-mail" ng-model="vm.email">
    </div>

    <div class="et alu">
        <input type="password" class="form-control" ng-model="vm.password" placeholder="Password">
    </div>

    <div class="amb">
        <button class="cg fp" type="submit">Log In</button>
        <a class="cg fm" href="#/signup">Sign up</a>
    </div>

    <footer class="apd">
        <a href="#" class="dp">Forgot password</a>
    </footer>
</form>