<form role="form" class="alq dj j padded-top" ng-submit="vm.register()">

    <a href="#/home" class="l amb">
        <img src="styles/img/logo.png" alt="brand">
    </a>

    <div class="et">
        <h5>REGISTRATION</h5>
    </div>

    <div class="et">
        <input class="form-control" placeholder="E-mail" ng-model="vm.email">
    </div>

    <div class="et alu">
        <input type="password" class="form-control" ng-model="vm.password" placeholder="Password">
    </div>

    <div class="amb">
        <a class="cg fm" href="#/signin">Log In</a>
        <button class="cg fp" type="submit">Sign up</button>
    </div>
</form>